{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-4">
    <h1>Connexion</h1>
    <form action="{{ path('security_connexion') }}" method="post">
        <div class="container my-4">
            <label for="identifiant">Identifiant :</label>
            <input placeholder="Adresse email" required name="_username" id="identifiant" type="text" class="form-control">
        </div>
        <div class="container my-4">
            <label for="motdepasse">Mot de passe :</label>
            <input placeholder="Mot de passe" required name="_password" id="motdepasse" type="password" class="form-control">
        </div>
        <div class="raw container my-4">
            <button type="submit" class="btn btn-success">Connexion</button>
            <a href="{{ path('security_inscription') }}" class="btn btn-secondary">Inscription</a>
        </div>
    </form>
</div>
{% endblock %}