{% extends 'admin.html.twig' %}

{% block title %}Dashboard administration{% endblock %}

{% block body %}

<h1 class="mt-4">Dashboard administration</h1>
                     
<div class="container-fluid mt-4">
    <p>Des choses</p>
</div>
    
{% endblock %}