{% extends 'admin.html.twig' %}

{% block title %}Modification d'un événement{% endblock %}

{% block body %}

<h1 class="mt-4">Modification d'un événement</h1>

{{ include ('adminPages/_form.html.twig', {form: form, button: 'Modifier'}) }}
    
{% endblock %}