{% extends 'admin.html.twig' %}

{% block title 'Gérer les produits' %}

{% block body %}
    <div class="jumbotron text-center mt-4">
        <h1>Gérer les produits</h1>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.nom }}</td>
                    <td>
                        <a href="{{ path('adminProductEdit', {ID: produits.id}) }}" class="btn btn-primary">Éditer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}