{% extends 'admin.html.twig' %}

{% block title %}Modification d'un produit{% endblock %}

{% block body %}

<h1 class="mt-4">Modification d'un produit</h1>

{{ include ('adminPages/_form.html.twig', {form: form, button: 'Modifier'}) }}
    
{% endblock %}