{% extends 'admin.html.twig' %}

{% block title %}Ajout d'un produit{% endblock %}

{% block body %}

<h1 class="mt-4">Ajout d'un produit</h1>

{{ include ('adminPages/_form.html.twig', {form: form, button: 'Ajouter'}) }}
    
{% endblock %}