{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container my-4">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 font-weight-bold">BDE CESI Strasbourg</h1>
          <p class="lead">Ouais ouais ouais</p>
        </div>
    </div>
      <article>
          <section>
              <div class="jumbotron jumbotron-fluid" style="background-color: #5c88da;">
                  <div class="container">
                    <h1 class="display-4 font-weight-bold">Présentation</h1>
                    <p class="lead">Ouais ouais ouais</p>
                  </div>
              </div>
          </section>
          <section>
              <div class="jumbotron jumbotron-fluid" style="background-color: #00a490;">
                  <div class="container">
                    <h1 class="display-4 font-weight-bold">Evénements</h1>
                    <p class="lead">Ouais ouais ouais</p>
                  </div>
              </div>
          </section>
          <section>
              <div class="jumbotron jumbotron-fluid" style="background-color: #ea7600">
                  <div class="container">
                    <h1 class="display-4 font-weight-bold">Boutique</h1>
                    <p class="lead">Ouais ouais ouais</p>
                  </div>
              </div>
            </section>
            <section>
                <div class="jumbotron jumbotron-fluid" style="background-color: #b5bd00">
                    <div class="container">
                      <h1 class="display-4 font-weight-bold">Photos</h1>
                      <p class="lead">Ouais ouais ouais</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4 font-weight-bold">Partenaires</h1>
                      <p class="lead">Ouais ouais ouais</p>
                    </div>
                </div>
            </section>
      </article>
  </div>

{% endblock %}