{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container my-4">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 font-weight-bold">BDE CESI Strasbourg</h1>
          <p class="lead">Ouais ouais ouais</p>
        </div>
    </div>
      <article>
          <section>
              <h1>Présentation</h1>
              <img>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quis rerum laudantium suscipit tempore ipsum cum nesciunt exercitationem, rem at culpa ut eveniet, quidem totam eos molestias! Consequatur, atque numquam.
              </p>
          </section>
          <section>
              <h1>Evénements</h1>
              <img>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repellat at aliquam dignissimos delectus doloremque ex fuga voluptate laborum necessitatibus reprehenderit maxime deserunt dolorem provident, maiores in accusamus laboriosam consequatur.
              </p>
          </section>
          <section>
              <h1>Boutique</h1>
              <img>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis sequi odit, in iusto corrupti nulla. Aperiam nam numquam in, cum repellat molestias amet quae quisquam sunt doloremque deleniti provident non!
              </p>
            </section>
            <section>
              <h1>Photos</h1>
              <img>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, nostrum doloremque, deleniti a dignissimos ipsum rerum sunt quam tenetur iste eius saepe repellat inventore aut accusantium totam? Nulla, nobis voluptate!
              </p>
          </section>
      </article>
  </div>

{% endblock %}