<html>
  <body>
    <section>
      <column>

        <text font-size="20px" text-align="center">Signalement de : {{ variable }}</mj-text>

        </br>

        <text font-size="20px">
            L'item : "{{ variable }}" a été signalé par un membre du CESI
        </text>

      </column>
    </section>
  </body>
</html>