{% extends 'base.html.twig' %}
{% block title %}Législation - accueil{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid" style="...">
        <div class="container">
            <h1 class="display-4">Les législations du site</h1>
            <p class="lead">Sur cette page vous trouverez toutes les législations légales concernant le site. <br/>
            Si vous possédez la moindre question quant à vos droits, vous pouvez nous contacter à l'adresse e-mail suivante : <br/>
            bde-cesi-strasbourg@viacesi.fr</p>
            <hr class="mr-4">
            <p>Naviguez parmi les différents textes :</p>
            <p class="lead">
                <a class="btn btn-dark btn-lg" href="#mentions-legales" role="button">Mentions légales</a>
                <a class="btn btn-dark btn-lg" href="#conditions-vente" role="button">Conditions générales de vente</a>
                <a class="btn btn-dark btn-lg" href="#protection-donnees" role="button">Données personnelles</a>
            </p>
        </div>
    </div>

  <div class="container" id="mentions-legales">
      <h1 class="display-4">Mentions légales du site</h1>
      <hr class="mr-4">
      <p>Le site www.bde-cesi-strasbourg.fr est édité par l’association BDE CESI, association à but non lucrative régie par la loi de 1901, au capital de 500€.
         Le siège social est situé au 1 allée des Foulons, 67380 Lingolsheim.
         De ce fait, l’association BDE CESI Strasbourg, par le biais de BDE CESI, s’engage à réutiliser et à réimplémenter tout l’argent obtenu par la vente d’articles. <br/>
          <br/> Directeur de publication : Yann Szymanski <br/>
          E-mail : bde-cesi-strasbourg@viacesifr <br/>
          <br/> Hébergeur : OVHcloud <br/>
          2 rue Kellermann - 59100 <br/>
          Roubaix - France <br/>

          <br/>Les Conditions Générales de vente de BDE CESI Strasbourg à destination des étudiants de CESI école d’ingénieurs
          (et uniquement de ses étudiants), des membres ou des professeurs sont disponibles depuis <a href="#conditions-vente">ce lien</a>. <br/>

          <br/>Les utilisateurs de ce site sont tenus de respecter la légalité et en particulier les dispositions de la loi Informatique et libertés dont la violation est sanctionnée pénalement.
          Ils doivent notamment s’abstenir, s’agissant des informations auxquelles ils accèdent, de toute collecte, captation, déformation ou utilisation et d’une manière générale de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.
          Les utilisateurs sont informés, conformément aux dispositions de la loi Informatique et libertés qu’ils disposent d’un droit d’accès et de rectification relativement aux informations les concernant auprès de BDE CESI. <br/>

          <br/>La structure générale, ainsi que les textes composant ce site sont la propriété de l’association BDE CESI et ses partenaires (dont fait partie BDE CESI Strasbourg).
          Toute représentation totale ou partielle de ce site ou d’un ou plusieurs de ses composants, par quelque procédé que ce soit, sans autorisation expresse de l’association de loi 1901 BDE CESI est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. <br/><br/>
      </p>
  </div>

    <div class="container" id="conditions-vente">
        <h1 class="display-4">Conditions générales de vente</h1>
        <hr class="mr-4">
        <br/><h3>1. Définitions</h3>
        <p><br/>Dans les présentes Conditions Générales de Vente (ci-après les « CGV »), les termes suivants seront employés avec le sens et la portée ci-après définis : <br/>
            « BDE CESI Strasbourg » désigne une sous partie de l’association de loi 1901 BDE CESI , au capital de 500 € dont le siège social se situe à 1 allée des Foulons – 67380 Lingolsheim, France. <br/>
            « Commande » désigne, avec les présentes Conditions Générales, le contrat de vente entre BDE CESI et le Client. <br/>
            « Client » désigne l’utilisateur internaute, personne physique, qui serait amené à commander sur le site un ou plusieurs produit(s) au détail, à des fins personnelles. <br/><br/>
        </p>
        <h3>2. Stipulations générales </h3>
        <p><br/>Les présentes CGV ont pour objet de définir les conditions et modalités dans lesquelles BDE CESI propose la commercialisation des produits sur son site, ainsi que les droits et obligations des parties nés de cette vente. <br/>
        L’acceptation des CGV est formalisée lors de la validation de la Commande, lorsque le client coche la case « j’ai lu et j’accepte les conditions générales de vente de BDE CESI ».
        Le seul fait de cocher cette case emporte par conséquent l’adhésion pleine, entière et sans réserve du Client aux CGV qu’il déclare avoir lues et connaître. <br/>
        Les CGV sont également mises à la disposition des clients sur le site et peuvent également leur être communiquées sur simple demande par courrier électronique à l’adresse suivante :
        bde-cesi-strasbourg@viacesi.fr <br/>
        <br/>Les CGV s’appliquent à toute vente en ligne réalisée sur le site.
        La revente ou la distribution des Produits achetés sur le site est formellement interdite. <br/><br/>
        </p>
        <h3>3. Produits</h3>
        <p><br/>BDE CESI Strasbourg propose à la vente, dans la limite des stocks disponibles, les produits figurant sur le site, au jour de la consultation de celui-ci par le client.
            BDE CESI Strasbourg se réserve le droit de retirer des produits de la vente en ligne à tout moment et sans information préalable. <br/>
            Conformément à l’article L111-1 du Code de la Consommation, le client peut, préalablement à sa commande, prendre connaissance, sur le site, des caractéristiques essentielles du ou des produits qu’il désire commander.
            Sauf exception, BDE CESI Strasbourg ne garantit aucune disponibilité des pièces détachées indispensables à l’utilisation des produits. <br/>
            Les offres d’achat y compris les offres promotionnelles sont valables tant qu’elles sont annoncées sur le site et selon les conditions qui y sont stipulées, notamment de durée.
            Toute offre promotionnelle n’émanant pas du site ne pourrait être valablement opposée à BDE CESI Strasbourg. <br/><br/>
        </p>
        <h3>4. Inscription et création d'un compte</h3>
        <p><br/>Préalablement à toute commande, le client devra être connecté sur le site au moyen d’identifiants composés d’une adresse mail et d’un mot de passe.
            Le client est seul responsable de la sécurité de ses identifiants. Peuvent se connecter les étudiants d’une école CESI école d’ingénieur ou toute autre personne travaillant dans cette école et possédant le statut de professeur.
            Il est à ce titre seul responsable de tous les actes qui seraient accomplis en son nom du fait de l’utilisation de ses identifiants.
            BDE CESI Strasbourg ne pourra être tenu responsable de la perte ou de l’utilisation des identifiants du Client par un tiers.
            Ce Compte sera utilisé par le client pour passer commande sur le site et ce dernier devra renseigner les informations suivantes, lesquelles sont obligatoires afin de permettre à BDE CESI Strasbourg d’exécuter les commandes : <br/>
            </p>
            <ul>
                <li>ses nom et prénoms, </li>
                <li>son adresse électronique, </li>
                <li>Le centre dans lequel il étudie ou enseigne, </li>
                <li>Son statut (qui fera l’objet d’une vérification manuelle si déclaré comme membre du BDE CESI Strasbourg ou tuteur). </li>
            </ul>
        <p>En cas de perte ou d’oubli du mot de passe, le Client pourra solliciter la mise en œuvre de la procédure permettant le changement de son mot de passe. <br/><br/> </p>
        <h3>5. Commande</h3>
        <p><br/>Les Produits commandés par le client sont destinés à une utilisation personnelle exclusivement. <br/>
            Pour acheter les produits, le client doit se connecter sur le Site et renseigner son adresse e-mail et son mot de passe ou se créer un compte selon les modalités décrites ci-dessus. <br/>
            La validation de toute commande suppose l’adhésion sans restriction ni réserve aux CGV au moment de la finalisation de la Commande en cochant la case « j’ai lu et j’accepte les conditions générales de vente de BDE CESI ». <br/>
            De plus, dès que la Commande est définitivement validée, le client ne pourra plus l’annuler ou la modifier et ce, sous réserve de l’exercice de son droit de rétractation selon les modalités détaillées à l’article 12 des CGV.
            Le paiement sera réalisé dès la validation de la commande. <br/><br/>
        </p>
        <h3>6. Prix</h3>
        <p><br/>Les prix en vigueur sont ceux indiqués sur le site et sont exprimés en euros et s’entendent toutes taxes comprises, incluant la T.V.A. applicable en France au jour de la commande.
            Si une ou plusieurs taxes ou contributions venaient à être créées ou modifiées, ce changement pourra être répercuté sur le prix de vente des Produits présents sur le Site. <br/>
            BDE CESI Strasbourg se réserve le droit de modifier ses prix à tout moment, étant entendu que les produits commandés sont facturés au prix en vigueur lors de l’enregistrement de la commande. <br/><br/>
        </p>
        <h3>7. Conditions de paiement</h3>
        <p><br/>Toutes les commandes sont payables en euros (et uniquement en euros). <br/>
            Le règlement de la commande s’effectue en ligne sur le Site par le système de paiement PayPal.
            Cela implique qu’aucune information bancaire concernant le client ne transite via le Site, ce qui assure un paiement entièrement sécurisé. <br/>
            La totalité du montant de la commande sera débitée du compte PayPal à compter de la validation de la commande. <br/><br/>
        </p>
        <h3>8. Retrait de la commande</h3>
        <p><br/>Le client verra sa commande remise en main propre par un des membres du BDE CESI Strasbourg.
            Il se fera informer de la date et de l’heure de réception de sa commande au moins 24 heures à l’avance, ainsi que de la salle dans laquelle il doit chercher son colis (par défaut et si non précisé, la salle du BDE située au rez-de-chaussée, à droite de la salle 101, sur le campus de Lingolsheim). <br/>
            En conformité avec le droit en vigueur, BDE CESI Strasbourg s’engage à exécuter la commande dans un délai maximum de trente jours à compter du jour de validation de la commande, sous réserve de disponibilité et du complet paiement du prix.
            BDE CESI Strasbourg ne saurait être tenu responsable de problèmes de livraison qui seraient du fait des transporteurs à qui le colis a été confié. <br/>
            Faute de livraison à l’expiration du délai indiqué lors de la commande, pour toute autre cause que les cas de force majeure classiques de l’article 1218 du Code Civil, le client pourra annuler sa commande et en obtenir le remboursement. <br/><br/>
        </p>
        <h3>9. Réception & Réclamation</h3>
        <p><br/>Dès la réception du colis, le client est tenu de vérifier la conformité et l’état de l’emballage des produits et de soulever les vices apparents.
            En cas de détérioration ou de perte partielle du produit, le client doit impérativement formuler des réserves qui devront être transmises par e-mail ou de vive voix à des membres du BDE CESI Strasbourg. <br/><br/>
        </p>
        <h3>10. Reproduction des dispositions légales :</h3>
        <br/><h4>Garantie légale de conformité :</h4>
        <p><br/>Article L.217-4 du Code de la consommation : « Le vendeur est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. <br/>
            Il répond également des défauts de conformité résultant de l’emballage, des instructions de montage ou de l’installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité ». <br/><br/>
            Article L.217-5 Code de la consommation : « Pour être conforme au contrat, le bien doit : <br/>
            1° Être propre à l’usage habituellement attendu d’un bien semblable et, le cas échéant : <br/>
            – correspondre à la description donnée par le vendeur et posséder les qualités que celui-ci a présentées à l’acheteur sous forme d’échantillon ou de modèle ; <br/>
            – présenter les qualités qu’un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l’étiquetage ; <br/>
            2° Ou présenter les caractéristiques définies d’un commun accord par les parties ou être propre à tout usage spécial recherché par l’acheteur, porté à la connaissance du vendeur et que ce dernier a accepté ». <br/>
            Article L.217-12 du Code de la consommation : « L’action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien ». <br/><br/>
        </p>
        <h4>Garantie légale des vices cachés :</h4>
        <p><br/>Article 1641 du Code civil : « Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l’usage auquel on la destine, ou qui diminuent tellement cet usage que l’acheteur ne l’aurait pas acquise,
            ou n’en aurait donné qu’un moindre prix, s’il les avait connus ». <br/>
            Article 1648 alinéa 1er du Code civil : « L’action résultant des vices rédhibitoires doit être intentée par l’acquéreur dans un délai de deux ans à compter de la découverte du vice ». <br/><br/>
        </p>
        <h3>11. Responsabilité et force majeure</h3>
        <p><br/>Il appartient au client de juger du caractère approprié et adapté à ses besoins des produits qu’il commande.
            BDE CESI Strasbourg ne saurait être tenu responsable dans l’hypothèse d’une utilisation des produits non conforme à leur destination. <br/>
            BDE CESI Strasbourg ne pourra être tenu responsable des interruptions, retards ou indisponibilités du site dus, notamment, à une rupture de service, des travaux de maintenance, une intrusion extérieure ou la présence de virus informatiques. <br/>
            En outre, BDE CESI Strasbourg s’efforce d’assurer au mieux de ses possibilités, l’exactitude et la mise à jour des informations diffusées sur le site, dont elle se réserve le droit de corriger, à tout moment et sans préavis, le contenu. <br/><br/>
        </p>
        <h3>12. Loi applicable et règlement des conflits</h3>
        <p><br/>Les présentes CGV sont régies par le droit français.<br/><br/></p>
    </div>

    <div class="container" id="protection-donnees">
        <h1 class="display-4">Protection de vos données personnelles et cookies</h1>
        <hr class="mr-4">
        <br/><h3>Données personnelles et droit d'opposition</h3>
        <p><br/>BDE CESI Strasbourg est le responsable du traitement des données personnelles des clients utilisant le site et assure avoir accompli les formalités adéquates à sa mise en conformité avec les dispositions de la loi dite « informatique et liberté » du 6 janvier 1978,
            dans sa version modifiée par la Loi n°2018-493 du 20 juin 2018, et du Règlement 2016/679 du Parlement européen et du Conseil du 27 avril 2016. <br/><br/>
        </p>
        <h3>Données personnelles collectées</h3>
        <p><br/>Les données personnelles collectées et enregistrées sont celles qui sont obligatoires dans le cadre de l’établissement de la commande et nécessaires à la bonne exécution de celle-ci dont, notamment,
            la livraison et la gestion des éventuelles réclamations, à savoir : <br/></p>
        <ul>
            <li>Les noms et prénoms du client, </li>
            <li>L'adresse mail du client</li>
            <li>Le campus CESI École d'ingénieurs auquel il est rattaché. </li>
        </ul>
        <p><br/>BDE CESI Strasbourg est également susceptible de collecter les informations de connexion du Client (adresse IP, type de navigateur, détail des visites sur le site,
            notamment au moyen de cookies, ce qui inclut par exemple : quantité de données reçues, lieu de connexion, pages vues, etc.). Ces informations sont également des données personnelles. <br/>
            Les données personnelles peuvent être collectées de la manière suivante : <br/></p>
        <ul>
            <li>Lors de la création du compte, </li>
            <li>Lors de l'utilisation du site, </li>
            <li>Lorsque le client passe commande, </li>
            <li>Lorsque le client contacte BDE CESI Strasbourg pour un problème avec le site ou toute autre raison.</li>
        </ul>

        <br/><h3>Finalités des traitements</h3>
        <p><br/>Les données sont traitées par BDE CESI Strasbourg et pourront être utilisées afin : <br/></p>
        <ul>
            <li>D’informer le client de nouveaux événements se situant sur son campus référent et de nouveaux produits, </li>
            <li>De permettre la gestion et le suivi des commandes,</li>
            <li>De permettre au client d’utiliser le site selon ses droits attribués,</li>
            <li>De permettre l’administration des comptes des clients,</li>
            <li>De vérifier l’identité du client, en cas de besoin (en particulier son statut et son réel lien avec l’école),</li>
            <li>De permettre le suivi d’une commande avec le client en cas d’incident,</li>
            <li>De notifier au client toute modification du site ou des présentes CGV.</li>
        </ul>
        <p>Ces données ne feront pas l’objet de transfert en dehors de l’Union Européenne. Elles ne seront également pas transmises à des partenaires commerciaux. <br/>
            Les données personnelles fournies par le client ne seront jamais revendues ou fournies à des tiers. <br/>
            Les tiers agissant sur instruction de BDE CESI Strasbourg n’acquièrent aucun droit sur les données personnelles ou tout autre contenu qui pourrait leur être fourni. <br/><br/>
        </p>
        <h3>Cookies</h3>
        <p><br/>Des cookies de session et de suivi d’activité peuvent également être déposés lors de la visite du site afin d’améliorer l’expérience du client, d’établir des statistiques de fréquentation, de fournir un compte, d’afficher des contenus publicitaires adaptés,
            de mettre en œuvre des mesures de sécurité, d’adapter le site au terminal d’accès.
            Le client dispose de la possibilité de refuser l’installation de cookies lors de la première visite du site ou peut les supprimer via l’option le permettant sur son navigateur. <br/>
            Des cookies de tiers, liés aux réseaux sociaux, peuvent également être déposés lors de l’utilisation des fonctions sociales du site. <br/>
            Ces cookies ne stockent aucune information personnelle mais peuvent être utilisés pour identifier le client sur le Site. Ils ne pourront être utilisés que par BDE CESI Strasbourg. <br/><br/>
        </p>
        <h3>Durée de conservation</h3>
        <p><br/>BDE CESI Strasbourg stockera les données personnelles pour la durée d’activité du compte et procèdera à leur suppression lors de la suppression dudit compte à la demande du client.
            Une fois le compte supprimé, seules les données nécessaires à l’archivage des commandes, des échanges avec BDE CESI Strasbourg, à la comptabilité ou au respect des obligations légales et règlementaires de BDE CESI Strasbourg
            pourront encore être détenues, dans le respect des règles applicables à ce type de données. <br/><br/>
        </p>
        <h3>Droits attachés aux données personnelles</h3>
        <p><br/>Conformément à la réglementation en vigueur, le client bénéficie des droits d’accès, d’effacement et de rectification des données les concernant ainsi que du droit de limitation et d’opposition au traitement de ses données.
            Ils disposent également du droit de définir des directives relatives au sort de ses données personnelles après son décès. <br/>
            L’exercice du droit d’effacement et du droit d’opposition sur les données obligatoires est susceptible d’empêcher le client de bénéficier de certains services proposés par BDE CESI Strasbourg. <br/>
            S’il souhaite exercer l’un de ses droits, le client peut adresser un courrier électronique à l’adresse suivante : bde-cesi-strasbourg@viacesi.fr, en précisant dans l’objet « Droit des personnes » et en joignant la copie de son justificatif d’identité. <br/>
            Enfin, le client a également la faculté d’introduire toute réclamation s’agissant du respect des droits visés ci-dessus auprès de la CNIL en adressant sa demande à : CNIL – 3 Place de Fontenoy – TSA 80715 – 75334 PARIS CEDEX 07. <br/><br/>
        </p>
        <h3>Propriété intellectuelle et confidentialité</h3>
        <p><br/>Tous les éléments communiqués par BDE CESI Strasbourg sur son site internet ou dans le cadre de l’exécution de la commande, notamment les informations contenues dans les fiches techniques des produits, sont susceptibles d’être protégés par un droit de propriété intellectuelle au titre du droit d’auteur, des marques ou des brevets et sont la propriété exclusive de cette dernière.
            Le client s’interdit donc de les reproduire, de les représenter, de les modifier ou de les diffuser, totalement ou partiellement, sans l’autorisation préalable et écrite de l’association BDE CESI Strasbourg.
            Toute utilisation sans autorisation est susceptible de constituer un délit de contrefaçon et d’exposer à des poursuites judiciaires. <br/><br/>
        </p>
    </div>

{% endblock %}